* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.titre {
  margin-bottom: 50px;
  
      }

.column-images img {
  border: solid black 1px;
}

