* {
  padding: 0;
  margin: 0;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
}


.column-1,.column-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-2 {
  display: flex;
  justify-content: center;
}

img {
  border: 2px solid black; /* Applique une bordure de 2 pixels solide noire */
  padding: 5px; /* Ajoute un espace autour de chaque image */
}
